# frontend
frontend/node_modules/
frontend/.next/
frontend/out/
frontend/dist/
frontend/*.log
frontend/.env
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend/.vscode/

# backend
backend/venv/
backend/__pycache__/
backend/*.pyc
backend/*.pyo
backend/*.pyd
backend/*.sqlite3
backend/*.db
backend/.env
backend/.venv/
backend/*.egg-info/
backend/pip-wheel-metadata/
backend/.pytest_cache/
backend/.coverage
backend/.mypy_cache/

#docker
docker-compose.override.yml
backend/*.dockerfile
*.tar

#os/ide
.DS_Store
Thumbs.db
.idea/
*.swp
.vscode/